.players {
    display         : flex;
    flex-wrap       : wrap;
    justify-content: center;
    gap: 30px 40px;
    align-items   : center;
    background      : linear-gradient(top, #222, #333);
  }
  
.selected {
    background-color: darkgrey;
    opacity: 70%;
}

.selected.alsoSelected {
    background-color: darkgray;
    opacity: 70%;
}

.alsoSelected {
    background-color: #f0f0f0;
    opacity: 70%;
}

.resource {
    width: 20px;
    height: 20px;
    object-fit: cover;
}
