  .grid {
    display         : flex;
    justify-content : space-between;
    border  : 1px solid #e4e4e4;
    background-size: cover; 
  }

  .grid-column {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
  }
