.miniSquare {
    width   : 20px;
    height  : 20px;
    text-align  : center;
    padding     : 10px;
  }

  .nameResource {
    display         : flex;
    justify-content : center;
    width: 200px;
  }