.score {
    border-collapse: collapse;
    width: 400px;
    border: 1px;
    text-align  : center;
    margin-bottom: 60px;
}

.score, .score th, .score td {
    border: 1px solid black;
}

.score tr {
    height: 50px;
}

.scoreContainer {
    display: flex;
    justify-content: center;
}