.setup {
    margin-top: 40px;
    width: 700px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-inline: auto;
    border: 1px solid;
  }
  
  .setup-instructions {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
  }
  
  .player-list {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
  }

  .player-list p {
    justify-content: flex-start;
    padding: 5px;
  }
  
  .player-name {
    margin: 5px 0;
    font-weight: 500;
    color: #444444;
  }